html{
    scroll-behavior: smooth;
}
body{
    font-family: "Comic Sans MS",sans-serif;

}

.navbar-light{
    color: white;
}
.top-nav-collapse{
    background-color: black;!important;
    padding: 0.75rem;!important;
}
.btn-danger{
    border-radius: 20px;
}
.wrapper{
    background: white url("pexels-photo-3643104.jpeg") no-repeat scroll center;
    height: 100vh;
    background-size: cover;
}
.landing-wrapper{
    display: flex;
    text-align: center;
    color: white;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.font{
    font-size: 40px;
}
.tour-img{
    border-radius: 10px;
    box-shadow: 0 5px 10px black;



}
.img-header img{
    height: inherit;
    width: inherit;
    border-radius: 10px;
}
.bottom-margin{
    margin-top: 180px;
}
.margin-top{

}
.dest-card{
    border-radius: 10px;!important;
    cursor: pointer;

}
.dest-card img{
    border-radius: 10px;!important;
    position: relative;

}
.dest-card-title{
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;

}
.dest-card-info{
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    background-color: coral;
    padding: 10px 15px;
    border-radius:0 50px 50px 0;
    width: 46%;
    transition: all 0.5s
;
}
.dest-card-info h4{
    margin-bottom: 0;
    text-align: right;
}
.dest-card:hover .dest-card-info{
    width: 55%;
    background-color: orangered;
}
.height-1{
    height: 63vh;
}
.wid{
    width: 120px;
}
.dest-card h4{


}
.top-absolute{
    position: absolute;
    top: 20px;
    right: 30px;
    background-color: lime;
    padding: 10px;
    border-radius: 10px;
}
.dest-card .height-2{
   border-radius: 0 0 0 0;
}
.main-footer{
    background: white url("R.jpg");
    color: white;
}
.footer-wrapper{
    background-color: rgba(0,0,0,0.5);
}
